.buttonOutline {
  background-color: transparent;
  border: 1px solid #629797;
  border-radius: 0.3125rem;
  color: #629797;
  padding: 0.4rem 0.75rem;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #629797;
    color: #fff;
  }
}

.buttonIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.buttonUnstyled {
  background-color: red;
  border: none;
  cursor: pointer;
}
