.buttonOutline {
  background-color: transparent;
  border: 1px solid #629797;
  border-radius: 5px;
  color: #629797;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #629797;
    color: #fff;
  }
}

.buttonUnstyled {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
