.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3125rem;
  min-height: 9.375rem;
  width: 18.75rem;
  background-color: azure;
  border-radius: 0.3125rem;
  filter: drop-shadow(0 0 0.75rem #92c3c3);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 0.4375rem;
  width: 100%;
}
