.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  min-height: 150px;
  width: 300px;
  background-color: azure;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem #92c3c3);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.headerLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  text-align: left;
  margin: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #92c3c3;
  margin: 5px 0;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 7px;
  width: 100%;
}
