.pill {
  padding: 0.125rem 0.25rem;
  border-radius: 0.3125rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
}

.open {
  background-color: #45be45;
}

.closed {
  background-color: #f04d4d;
}

.inProgress {
  background-color: #ff890b;
}
